@import 'src/abstracts/colors';

.collection {
    height: 90%;
    width: 100%;
    padding: 2rem;
    background: $main-2;
}

.items {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12.5%;
    width: 100%;
    gap: 5%;
}

.filter {
    height: 100%;
    width: 20%;
    border: none;
    background: $cta;
    font-size: 150%;
    font-weight: 600;
    color: $main-0;
}

.bigpicture {
    grid-area: 1 / 1 / 3 / 4;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.bigpicture__img {
    width: 82.5%;
    height: 82.5%;
    object-fit: contain;
}

.sidebar {
    padding-left: 1rem;
    max-height: 100%;
    grid-area: 1 / 4 / 5 / 6;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    overflow-y: auto;
}

.sidebar__item {
    width: calc(50% - 1rem);
    height: calc(25% - 1rem);
    border: 0.5rem solid $main-3;
    outline: none;
}

.sidebar__img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    
}