@import 'src/abstracts/colors';

.filter {
    height: 100%;
    width: calc(100% / 3);
    position: relative;
    
    &__filter {
        height: 100%;
        width: 100%;
        border: none;
        background: $cta;
        font-size: 150%;
        font-weight: 600;
        color: $main-0;
    }

    &__reset {
        position: absolute;
        width: 2rem;
        aspect-ratio: 1 / 1;
        right: -5%;
        top: -7.5%;
        border-radius: 50%;
        border: none;
        background: $main-2;
    }
}

@media screen and (max-width: 1024px) {
    .filter {
        width: 50%;
    }
}