@import 'src/abstracts/colors';

// Intro
.intro {
    height: 85rem;
    position: relative;
    margin-bottom: 5rem;
    font-size: 200%;
}

.intro__img {
    height: 100%;
    width: calc(100vw - (100vw - 100%));
    max-width: calc(100vw - (100vw - 100%));
    object-fit:cover;
    margin: 0;
}

.intro__information {
    color: $main-0;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 16%;
    left: 9%;
    width: 50rem;
    max-width: 70%;
    height: 35%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.intro__login {
    width: 45%;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 100%;
    background: $cta;
    border: none;
    outline: none;
    color: $main-0;
    border-radius: 2rem;
}
.intro__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__p {
    display: inline;
}

// About

.about {
    height: 50rem;
    width: 100%;
    color: $main-0;
    display: flex;
    flex-direction: row;
    font-size: 200%;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
    background: $main-4;
    gap: 1.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.about__p {
    max-width: 80%;
}

.about__img {
    height: 100%;
    object-fit:cover;
    width: 50%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

// Features

.features {
    padding: 8rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: $main-4;
    margin-bottom: 5rem;
    font-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.features__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;
}

.features__title {
    font-size: 300%;
}

// Pricing

.pricing {
    padding: 2rem;
    padding-top: 0;
    color: $main-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.pricing__title {
    font-size: 400%;
}

.pricing__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    font-size: 200%;
}

// Contact

.contact {
    font-size: 200%;
    color: $main-4;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 2rem;
}

.contact__title {
    font-size: 200%;
}

.contact__form {
    background: $main-3;
    padding: 3rem;
    width: 70%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    gap: 3rem;
}

.contact__inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.contact__messageWrapper {
    grid-column: 1 / 3;
}

.contact__label {
    font-weight: 600;
    font-size: 125%;
    width: 100%;
}

.contact__input {
    height: 4rem;
    width: 100%;
    background: $main-0;
    outline: none;
    border: 0.3rem solid $main-4;
    padding: 0.5rem;
    font-size: 100%;
}

.contact__message {
    height: 12rem;
    resize: none;
    scrollbar-width: none;
}

.contact__submit {
    grid-column: 1 / 3;
    justify-self:center;
    border: none;
    width: 30%;
    height: 5rem;
    background: $cta;
    padding: 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    color: $main-0;
    cursor: pointer;
}

// Footer


.footer {
    padding: 6rem;
    padding-bottom: 1.5rem;
    background: $main-4;
    color: $main-0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.footer__columns {
    background: $main-4;
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 5fr 2fr;
    gap: 8rem;
    color: $main-0;
}

.footer__column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    font-size: 125%;
}

.footer__anchor {
    text-decoration: none;
    color: $main-0;
}

.footer__details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__copyright {
    font-size: 150%;
}

.footer__button {
    border: none;
    font-size: 100%;
    font-weight: 600;
    padding: 2rem;
    border-radius: 4rem;
    background: $cta;
    color: $main-0;
    width: 100%;
}

.footer__cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Media queries

@media screen and (max-width: 1024px) {
    
    .intro__information {
        width: 100%;
    }

    .about {
        flex-direction: column;
    }

    .about__img {
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 0;
    }

    .about__text {
        border-bottom-left-radius: 0;
        border-top-right-radius: 2rem;
    }

    .features__container {
        grid-template-columns: 1fr 1fr;
    }

    .features__feature#feature3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .pricing__container {
        width: 70%;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .features__container {
        grid-template-columns: 1fr;
    }

    .features__feature#feature3 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}   