@import 'src/abstracts/colors';

.collection {
    height: 90%;
    width: 100%;
    padding: 2rem;
    background: $main-2;
}

.items {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12.5%;
    width: 100%;
    gap: 5%;
}

.filter {
    height: 100%;
    width: 20%;
    border: none;
    background: $cta;
    font-size: 150%;
    font-weight: 600;
    color: $main-4;
}

.bigpicture {
    grid-area: 1 / 1 / 3 / 4;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.bigpicture__img {
    width: 82.5%;
    height: 82.5%;
    object-fit: contain;
}

.sidebar {
    padding-left: 1rem;
    min-height: 100%;
    grid-area: 1 / 4 / 5 / 6;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.sidebar__item {
    width: 100%;
    height: 100%;
    border: 0.5rem solid $main-3;
    outline: none;
}

.sidebar__img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.description {
    grid-area: 3 / 1 / 5 / 4;
    font-size: 175%;
    padding: 1rem;
    position: relative;
    color: $main-4;
    display: flex;
    flex-direction: column;
    gap: 7.5%;
}

.description__main {
    height: 80%;
}

.description__header {
    height: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.description__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 35%;
    gap: 1rem;
}

.description__edit {
    position: absolute;
    right: 0;
    top: 0.5rem;
    padding: 1rem;
    background: $cta;
    border: none;
}

.description__save {
    width: calc(100% / 3);
    height: 12.5%;
    background: $cta;
    border: none;
    font-weight: 600;
}